---
---

@charset "utf-8";


// palettes générées avec https://color.adobe.com/fr/
$base-color: #E2001A !default;
$base-color-dark: #d20014 !default;
$base-color-darker: #AF0014 !default;


$text-color: #212529 !default;
$text-meta-color: #666 !default;
$color-link: $base-color-dark !default;
$color-link-hover: $base-color-darker !default;

$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;



@import
  "base",
  "header",
  "home",
  "post",
  "post_link_list"
;
