---
layout: default
main_css_classname: homepage
---

<div class="home">

    <ul class="post-link-list list-unstyled">
        {% for post in site.posts %}
        {% assign author = site.data.authors[post.author] %}

        <li class="post-link-item">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-link-item--title">{{ post.title }}</h2>
            </a>

            <span class="post-link-item--meta">Publié le {% include format_date.html date=post.date %}

                par {{ author.name}}</span>
        </li>
        {% endfor %}
    </ul>
</div>
