<section class="post-comments">

    <h3 class="mt-5">Laisser un commentaire ?</h3>

    <form class="post-new-comment" method="POST" action="https://api.staticman.net/v2/entry/{{ site.comment_repository }}/{{site.git_branch}}/comments">

        <input type="hidden" name="options[redirect]" value="{{ page.url  | prepend: site.baseurl | prepend: site.url }}#comment-submitted">
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">


        <div class="form-group">
            <label for="comment-name">Votre nom</label>
            <input name="fields[name]" type="text" class="form-control" id="comment-name" required="required">
        </div>

        <div class="form-group">
            <label for="comment-email">Votre adresse email <small class="text-muted">(facultatif)</small> </label>
            <input name="fields[email]" type="email" class="form-control" id="comment-email">
        </div>

        <div class="form-group">
            <label for="comment-message">Votre message</label>
            <textarea name="fields[message]" class="form-control" id="comment-message" rows="10"  required="required"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Envoyer le commentaire">
    </form>

    {% assign comments = site.data.comments[page.slug] %}

    <h3 class="mt-5">{% if comments.size > 1 %}Commentaires{% else %}Commentaire{% endif %}</h3>

    {% if comments.size > 0 %}

        {% for comment in comments | sort reversed %}
        {% assign commentData = comment[1] %}

        <article class="comment my-2">
            <div class="comment--header">

                {% assign urlGravatar = "https://www.gravatar.com/avatar?s=40" %}

                {% if commentData.email %}
                    {% assign urlGravatar = "https://www.gravatar.com/avatar/" | append: commentData.email | append: ".png?s=40" %}
                {% endif %}

                <img
                    src="{{ urlGravatar }}"
                    alt="{{ commentData.name }}"
                    class="rounded-circle"
                />

                Par
                <a class="comment--username">{{ commentData.name }}</a>
                le
                <span class="comment-date">{% include format_date.html date=commentData.date %}</span>
            </div>

            <div class="comment--content">
                {{ commentData.message | markdownify }}
            </div>
        </article>

        {% endfor %}
    {% else %}
        <div>Il n'y a pas encore de commentaires sur cet article</div>
    {% endif %}

</section>
