<section class="post-comments">

    <h3>Laisser un commentaire ?</h3>

    <form class="post-new-comment" method="POST" action="https://api.staticman.net/v2/entry/{{ site.comment_repository }}/{{site.git_branch}}/comments">

        <input type="hidden" name="options[redirect]" value="{{ page.url  | prepend: site.baseurl | prepend: site.url }}#comment-submitted">
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">


        <div class="form-group">
            <label for="comment-name">Votre nom</label>
            <input name="fields[name]" type="text" class="form-control" id="comment-name" required="required">
        </div>

        <div class="form-group">
            <label for="comment-email">Votre adresse email <small class="text-muted">(facultatif)</small> </label>
            <input name="fields[email]" type="email" class="form-control" id="comment-email">
        </div>

        <div class="form-group">
            <label for="comment-message">Votre message</label>
            <textarea name="fields[message]" class="form-control" id="comment-message" rows="10"  required="required"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Envoyer le commentaire">
    </form>

    <h3>Commentaires</h3>

    {% assign comments = site.data.comments | sort %}

    {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}

    <article class="comment">
        <div class="comment--header">
            Posté par
            <a class="comment--username">{{ commentData.name }}</a>
            le
            <span class="comment-date">{% include format_date.html date=commentData.date %}</span>
        </div>

        <div class="comment--content">
            {{ commentData.message | markdownify }}
        </div>
    </article>

    {% endfor %}


</section>
