<footer class="footer mt-5">
    <div class="container py-2 py-md-5 text-center">
        <span class="text-muted">© {{ site.time | date: '%Y' }} Decitre Interactive</span>

        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <a class="nav-link" href="https://twitter.com/{{site.twitter_username}}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="{{ '/feed.xml' | prepend: site.baseurl  }}">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript" src="{{ '/js/intersection-observer.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/lozad.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/lozad-init.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/comment.js' | prepend: site.baseurl }}"></script>
