<header>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">
            <img src="{{ '/assets/decitre-star.svg' | prepend: site.baseurl }}" class="navbar-brand--logo"/>
            {{ site.title }}
        </a>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' | prepend: site.baseurl  }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/{{site.github_username}}">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/{{site.twitter_username}}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/feed.xml' | prepend: site.baseurl  }}">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
