body {
  font-family: $base-font-family;
  line-height: 1.7;
}

a {
  color: $color-link;
  &:hover {
    color: $color-link-hover;
  }
}

img.lozad:not([data-loaded]) {
  filter: blur(10px);
}

.text-muted {
  color: $gray-color-darker;
}
