.comment {
  &--header {
    color: $text-meta-color;
  }
}


.comment-form-messages {
  .info-error {
    color: $base-color;
  }
}

.comment-replies {
  padding-left: 20px;
  @media (min-width: 576px) {
    padding-left: 40px;
  }
}
