.navbar {
  border-bottom: 1px solid $base-color-dark;
  padding: .5rem;
  margin-bottom: 1rem;
  @media (min-width: 576px) {
    padding: .5rem 1rem;
    margin-bottom: 0;
  }


  .navbar-brand {
    font-weight: bold;
    color: $text-color;
    white-space: normal;
  }

  .nav-link {
    i {
      font-size: 1.5rem;
    }
  }
}

.nav-link {
  padding: .5rem;
  @media (min-width: 576px) {
    padding: .5rem 1rem;
  }
}

.navbar-brand--logo {
  height: 24px;
}

.page-header {
  padding-bottom: 75px;
  display: none;
  @media (min-width: 576px) {
    display: block;
    padding-bottom: 150px;
    background-image: url($baseurl + '/assets/header-decitre--sm.jpg');
  }

  @media (min-width: 768px) {
    padding-bottom: 200px;
    background-image: url($baseurl + '/assets/header-decitre--lg.jpg');
  }

  @media (min-width: 992px) {
    padding-bottom: 300px;
    background-image: url($baseurl + '/assets/header-decitre.jpg');
  }
  background-position: center center;
}
