.navbar {
  .navbar-brand {
    font-weight: bold;
    color: $text-color;
  }
}

.page-header {
  background-image: url('/assets/header-decitre.jpg');
  background-position: center center;
  padding-bottom: 300px;
}
