.post {
  &--title {
    color: $base-color-dark;
  }
  &--meta {
    color: $text-meta-color;
  }

  pre, blockquote {
    padding: 1rem;
    background-color: $gray-color;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
  }

  .h2, h2 {
    font-weight: 600;
  }

  figure {
    text-align: center;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
