---
layout: default
---

{% assign author = site.data.authors[page.author] %}
<article class="post">


    <div class="post--header mb-5">
        <h1 class="post--title">{{ page.title }}</h1>

        <p class="post--meta">
            {% if author.gravatar %}
            <img
                src="https://www.gravatar.com/avatar/{{author.gravatar}}.png?s=50"
                alt="{{ author.name }}"
                class="post--author-avatar rounded-circle"
            />
            {% endif %}

            Par
            <span class="post--author">
                {{ author.name}},
            </span>

            le {% include format_date.html date=page.date %}
        </p>

    </div>



    <article class="post--content">
        {{ content }}
    </article>

</article>

<hr class="my-5" />

{% include comments.html %}
